[submodule "submodules/wlroots"]
	path = submodules/nixpkgs
	url = https://github.com/SimulaVR/nixpkgs
	branch = fpic
	shallow = true
[submodule "submodules/cabal"]
	path = submodules/cabal
	url = https://github.com/SimulaVR/cabal
